html { 
  background: url(http://dl.dropboxusercontent.com/s/5dwdv27a1wp50i1/404%20background.jpeg) 
  no-repeat center center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}