.image 
{ background-image: url(http://dl.dropboxusercontent.com/s/egt11yvuko59509/Sauerbier%20background.jpeg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden; 
position: fixed; 
top: 0;
width: 100%;
position: relative; }

h1 
{ font-size: 24px;
color: #414141;
font-family: Avenir Next, Helvetica, Arial, sans-serif;
text-align: center;
font-weight: 400; }

h2 
{ font-size: 20px;
color: #414141;
font-family: Avenir Next, Helvetica, Arial, sans-serif;
font-weight: 400;
width: 751px;
width: 751px;
padding-left: 35px;
margin-right: -10px;
margin-right: 0;
margin: 0 auto; }
	
h3 
{ font-size: 18px;
color: #BFBFBF;
font-family: Avenir Next, Helvetica, Arial, sans-serif;
text-align: center;
font-weight: 400; }	

h4 
{font-size: 14px;
color: #D8D8D8;
font-family: Avenir Next, Helvetica, Arial, sans-serif;
text-align: center;
font-weight: 400; }

h5 
{font-size: 98px;
color: rgba(225,225,225,0.75);
font-family: Avenir Next, Helvetica, Arial, sans-serif;
text-align: center;
font-weight: 500; }

p 
{ font-size: 14px;
color: #9B9B9B;
font-family: Avenir Next, Helvetica, Arial, sans-serif;
font-weight: 400;
word-spacing: 1px;
line-height: 23px; 
width: 751px;
padding-left: 35px;
margin-right: -10px;
margin-right: 0;
margin: 0 auto; }

img 
{ border-style: solid;
border-width: 0px; }

#hongkiat-form .txtinput 
{ font-family: "Avenir Next", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #9b9b9b;
margin-bottom: 15px;
font-size: 18px;
padding: 11px 25px;
padding-left: 15px;
width: 100%; }

#hongkiat-form textarea 
{ font-family: "Avenir Next", Helvetica, Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #9b9b9b;
font-size: 18px;
padding: 11px 25px;
padding-left: 15px;
width: 100%;
height: 180px;
color: #414141; }

#hongkiat-form #aligned 
{ width: 785px; }

#buttons 
{ display: block; padding-top: 10px; }

#buttons #bt1 
{ color: #515151;
margin-right: -46px;
height: 50px;
width: 830px;
padding: 0 1em;
outline: 0;
font-size: 18px;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
background-color: #ffffff;
border: 1px solid #414141; 
-webkit-appearance: none;
-moz-appearance:none; }

.sub3 
{ display: none; }

::-moz-selection { background: #fff; color: #000000; text-shadow: none; }
::selection { background: #fff; color: #000000; text-shadow: none; }