.casper {
	cursor: url(/cursor.png), auto;
}

.text {
	cursor: url(/cursor.png), auto;
}

.couvee { 
	cursor: url(/cursor.png), auto;
}

.social {
	cursor: url(/cursor.png), auto;
}

.samuel {
	cursor: url(/cursor.png), auto;
}

::-moz-selection { background: #fff; color: #000000; text-shadow: none; }
::selection { background: #fff; color: #000000; text-shadow: none; }

.casper {
background-image: url(http://dl.dropboxusercontent.com/s/egt11yvuko59509/Sauerbier%20background.jpeg);
background-attachment: fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
text-align: right;
font-family: Avenir Next, Helvetica, Arial, sans-serif; 
font-size: 16px;}

@font-face 
{
	font-family: Lavanderia;
	src:url("Lavanderia Sturdy.ttf");
}


.samuel {
background-image: url(http://dl.dropboxusercontent.com/s/3pq4x4673mwyjoq/Portfolio%20and%20resume%20wallpaper.jpeg);
background-attachment: fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
position: fixed; top:0; width:100%; 
position: relative; text-align: right;
font-family: Avenir Next, Helvetica, Arial, sans-serif; 
font-size: 16px;}

.samuel h1 {
	font-family: Lavanderia;
	
	font-size: 64px;
}

 h1 {
	font-size: 64px;
	font-family: Lavanderia;
	color: white;
	text-align: center;
}

 h2 {
	font-family: Avenir Next, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
}

 p {
	font-family: Avenir Next, Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #888888;

}

 h3 {
	font-family: Avenir Next, Helvetica, Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	font-weight: 400;
}

 h4 {
		font-family: Avenir Next, Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #888888;
	font-weight: 400;
}

.couvee {
	background-image: url(http://dl.dropboxusercontent.com/s/8k3ri71vpavrv36/Couvee%20wallpaper.jpeg);
background-attachment: fixed;

-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
}

.hover {

margin-top: 0px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 1;
          filter: alpha(opacity=100);
         
}
 
.hover:hover {
	margin-top: -15px;
          opacity: 0.5;
          filter: alpha(opacity=50);
}

.soon {

	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 1;
          filter: alpha(opacity=100

}

.soon:hover {

	opacity: 0.5;
          filter: alpha(opacity=50);
          
}

